AWS_REGION=us-east-1
S3_BUCKET=tesla-vehicle-telemetry
S3_RAW_PREFIX=raw/telemetry
S3_PROCESSED_PREFIX=processed/telemetry

SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_WAREHOUSE=TELEMETRY_WH
SNOWFLAKE_DATABASE=TESLA_TELEMETRY
SNOWFLAKE_SCHEMA=ANALYTICS

AIRFLOW_UID=50000

